* {
    padding: 0;
  
    margin: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
    scroll-behavior: smooth;
  }
  .Fp {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  }
  .logo {
    position: relative;
    margin-left: 40px;
    padding: 10px;
  }
  .logo img {
    height: 100px;
    width: 150px;
    border-image: stretch;
    border-radius: 50%;
    background-color: transparent;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 10% 0 10%;
    font-size: larger;
    margin-left: 20px;
  }
  ::selection {
    color: lightseagreen;
    background-color: black;
  }
  .nav-list {
    display: flex;
    margin-left: 10%;
  }
  .navbar {
    position: absolute;
  }
  nav ul li {
    height: fit-content;
    display: inline-flex;
    align-items: center;
    padding: 0 10px 0 30px;
    margin: 10px 0px 20px 30px;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 10px;
  }
  nav ul li a:hover {
    color: rgb(12, 218, 33);
    transition: 0.2s ease;
    cursor: pointer;
    border-style: outset;
    border-radius: 35%;
    box-shadow: 30px 40px 50px 0px #27829e, -20px -20px 50px hsl(120, 14%, 89%);
  }
  
  .home {
    font-size: larger;
    width: fit-content;
    border-radius: 50px;
    padding: 40px 20px 0px 5%;
    border-width: 5px;
    padding: 20% 2% 8% 5%;
    margin-left: 4%;
  }
  .name {
    margin: 10px;
    color: white;
    font-size: 100px;
  }
  .about {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  }
  .abouth {
    position: absolute;
    font-size: 2em;
    color: rgb(10, 228, 210);
    padding: 10px;
    margin: 40px 0 35px 10px;
    border-radius: 1000px;
    border-color: rgb(97, 50, 50);
    border-style: solid;
    width: fit-content;
    margin-top: 30px;
    margin-right: 25%;
    margin-bottom: 5%;
    margin-left: 10%;
    background-color: grey;
    box-shadow: 30px 40px 50px 0px #668791, -20px -20px 50px #dee6de;
  }
  .aboutp {
    color: rgb(20, 143, 192);
    font-size: larger;
    border-style: outset;
    width: fit-content;
    border-radius: 50px;
    border-width: 3px;
    margin: 20px auto;
    margin-left: 20%;
    margin-right: 20px;
    padding: 20px 50px 40px 20px;
    box-shadow: 15px 15px 30px rgb(100, 136, 184),
      -15px -15px 30px rgb(112, 104, 104);
  }
  .JavaScript{
    color: #ee9014;
    font-size: larger;
  }
  .imgpara {
    display: inline-flex;
    padding: 20px 60px 55px 70px;
    margin-top: 10%;
  }
  .adminpic {
    width: fit-content;
    height: 50vh;
    border-radius: 50px;
    border: solid;
    border-color: #04afaf;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  
    overflow: hidden;
    margin-left: 10%;
    margin-bottom: 10%;
  }
  .adminpic img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-inline: auto;
  }
  .skiii {
    margin: 0px;
    padding: 10px;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  }
  
  .myskill h1 {
    display: grid;
    text-align: center;
    padding: 7%;
    margin-left: 0%;
    color: rgb(27, 206, 206);
    text-shadow: 2px 2px 4px #e70b8c;
    font-size: 2.5em;
    font-weight: 900;
  }
  
  .ms {
    padding: 20px;
    margin: 10px 40px 70px 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-radius: 40px;
    background: #212121;
    width: fit-content;
    overflow: hidden;
    border-width: 0px;
    box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
  }
  
  .skills h2 {
    color: white;
    font-size: 1.6em;
    letter-spacing: 2px;
    margin-top: 1.8%;
    background: #212121;
  }
  .bar {
    width: 500px;
    height: 20px;
    border-radius: 40px;
    border-style: solid;
    border-color: rgb(233, 137, 13);
  }
  .html {
    height: 15px;
    border-radius: 40px;
    background: rgb(126, 9, 116);
    width: 0%;
    animation: html 1s linear forwards;
  }
  .TypeScript {
    height: 15px;
    border-radius: 40px;
    background: rgb(126, 9, 116);
    width: 0%;
    animation: TypeScript 1s linear forwards;
  }
  .css {
    height: 15px;
    border-radius: 40px;
    background: rgb(126, 9, 116);
    width: 0%;
    animation: css 1s linear forwards;
  }
  .JavaScript {
    height: 15px;
    border-radius: 40px;
    background: rgb(126, 9, 116);
    width: 0%;
    animation: JavaScript 1s linear forwards;
  }
  .Angular {
    height: 15px;
    border-radius: 40px;
    background: rgb(126, 9, 116);
    width: 0%;
    animation: Angular 1s linear forwards;
  }
  
  .html span {
    color: rgb(252, 248, 248);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
  
    width: fit-content;
    border-radius: 50%;
    background-color: rgb(7, 6, 6);
    float: right;
    margin-top: -5px;
    font-size: 1.1em;
    border: 1px solid #e91e63;
  }
  .css span {
    color: rgb(250, 248, 248);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
  
    width: fit-content;
    border-radius: 50%;
    background-color: rgb(8, 7, 7);
    float: right;
    margin-top: -5px;
    font-size: 1.1em;
    border: 1px solid #e91e63;
  }
  
  .TypeScript span {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
  
    width: fit-content;
    border-radius: 50%;
    background-color: rgb(12, 4, 4);
    float: right;
    margin-top: -5px;
    font-size: 1.1em;
    border: 1px solid #e91e63;
  }
  
  .JavaScript span {
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
  
    width: fit-content;
    border-radius: 50%;
    background-color: rgb(14, 3, 3);
    float: right;
    margin-top: -5px;
    font-size: 1.1em;
    border: 1px solid #e91e63;
  }
  .Angular span {
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
  
    width: fit-content;
    border-radius: 50%;
    background-color: rgb(14, 3, 3);
    float: right;
    margin-top: -5px;
    font-size: 1.1em;
    border: 1px solid #e91e63;
  }
  
  @keyframes html {
    100% {
      width: 90%;
    }
  }
  @keyframes css {
    100% {
      width: 70%;
    }
  }
  @keyframes TypeScript {
    100% {
      width: 50%;
    }
  }
  @keyframes JavaScript {
    100% {
      width: 50%;
    }
  }
  @keyframes Angular {
    100% {
      width: 60%;
    }
  }
  
  
  .sci {
    position: relative;
    display: flex;
    margin-top: 15px;
    justify-content: center;
  
    border-bottom-color: rgb(13, 216, 199);
    border-width: 6px;
    margin-bottom: 5px;
    gap: 20px;
  }
  .sci li {
    list-style: none;
    margin: 6px;
  }
  .sci li a {
    width: px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: transparent;
    font-size: 2.2em;
    color: #cc33ff;
    text-decoration: none;
    box-shadow: 0 6px 6px rgba(214, 14, 14, 0.16), 0 6px 6px rgba(0, 0, 0, 0.23);
  
    display: space;
  }
  .sci li a.tw:hover {
    color: #1fc4f7;
  }
  .sci li a.fac:hover {
    background-color: white;
    color: #130fdf;
  }
  .sci li a.lin:hover {
    color: blue;
  }
  .sci li a.ins:hover {
    color: rgb(230, 11, 175);
  }
  .sci li a.codpen:hover {
    color: #0ed7e6;
  }
  
  .pro2 {
    color: rgb(211, 197, 197);
    padding-top: 80px;
    display: flex;
    justify-content: center;
    color: white;
    text-shadow: 1px 1px 1px rgb(238, 231, 231), 0 0 20px rgb(237, 237, 240),
      0 0 5px rgb(235, 235, 243);
    font-size: 2.5em;
  }
  .portfolio {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  }
  .pro:not(.pro2) {
    padding: 13% 10px 17% 10%;
    display: flex;
    gap: 15%;
  }
  .projects1 {
    position: relative;
    width: 250px; /* Double the width to accommodate two cards */
    height: 35vh;
    border-radius: 20px;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  }
  .projects1 {
    display: flex;
    text-align: center;
    text-decoration: none;
    font-size: 5rem;
    font-weight: 500;
  }
  .cp {
    text-decoration: none;
  }
  .projects1:hover {
    color: #0ed7e6;
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    cursor: grab;
    box-shadow: 9px 20px 70px rgb(243, 225, 225), -8px -15px 50px #0eeeee;
  }
  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid rgb(4, 4, 8);
    border-right: 16px solid #0ed7e6;
    border-bottom: 16px solid #0d0f0f;
    border-left: 16px solid #0ed7e6;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
    margin: 70px;
  }
  
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .cs {
    display: flex;
    padding: 50% 20px 50px 30px;
  }
  .cont {
    position: absolute;
    width: 100%;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
   
  }
  .cm {
    margin: 75px 0 0 27%;
    margin-left: 40%;
    width: fit-content;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(246, 243, 252);
    text-shadow: 3px 6px 5px #0da5d3;
    font-size: 2.5em;
  }
  .gm {
    display: inline-flex;
    align-items: center;
    border-style: dotted;
    padding: 10px;
    border-radius: 40px;
    color: #2ae2e9;
    border-color: #4a1ab9;
    margin: 40px 0 0 20%;
  }
  .id {
    color: #1ef1e7;
    justify-content: space-between;
    margin: 0 0 0% 4%;
    letter-spacing: 1.4px;
    font-weight: 100;
  }
  .id:hover {
    text-decoration: underline;
    color: white;
  }
  .envelope {
    margin: 0 5px 0 5px;
  }
  .envelope:hover {
    transform: scale(1);
  }
  .sm {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10px 0 20px;
    color: #0ed7e6;
  }
  .sci2 {
    position: relative;
    display: flex;
    margin: 25px 0 0 30%;
    justify-content: center;
    width: fit-content;
    border-top-color: rgb(9, 153, 179);
    box-shadow: 20px #1275a3;
    padding-bottom: 9%;
  }
  .sci2 li {
    list-style: none;
    margin: 0 25px 0 0;
  }
  .sci2 li a {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: transparent;
    font-size: 2.2em;
    color: #881dac;
    text-decoration: none;
    box-shadow: 0 7px 7px rgba(53, 174, 190, 0.16),
      0 6px 6px rgba(20, 141, 135, 0.23);
    transition: 0.8s;
    display: space;
  }
  .sci2 li a.fac:hover {
    background: rgb(2, 6, 235);
    color: #fff;
    transition: 0s;
  }
  .sci2 li a.tw:hover {
    background: white;
    color: blue;
    transition: 0s;
  }
  .sci2 li a.lin:hover {
    background: #1f1fcf;
    color: #fff;
    transition: 0s;
  }
  .sci2 li a.ins:hover {
    background: #ff3399;
    color: #fff;
    transition: 0s;
  }
  .sci2 li a.codpe:hover {
    background-color: black;
    color: #0ed7e6;
    transition: 0.1s;
  }
  
  @media only screen and (max-width: 600px) {
    .logo {
      display: none;
    }
    .home {
      font-size: 35px;
    }
  
    .name {
      font-size: 45px;
      margin-top: 80%;
    }
    .sci {
      margin-top: 35px;
      border-width: 6px;
      padding-bottom: 30px;
      gap: 15px;
    }
    .sci li a {
      width: 10 px;
      font-size: 1em;
      display: space;
    }
  
    .navbar {
      display: flex;
      justify-content: space-between;
      padding-left: 100%;
      color: white;
    }
    .navbar {
      display: none;
    }
    .nav-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      text-align: center;
    }
  
    .nav-list li {
      margin: 10px 0;
    }
    .adminpic {
      display: none;
    }
    .aboutp {
      width: 130%;
      margin-top: 40px;
      margin-left: -20px;
      margin-right: 30px;
      padding: 20px 50px 40px 20px;
    }
    .bar {
      width: 230px;
      height: 25px;
      border-radius: 10px;
      border-style: solid;
    }
    .html {
      height: 7.5px;
      border-radius: 20px;
  
      height: 20px;
    }
    .aws {
      height: 7.5px;
      border-radius: 20px;
      height: 20px;
    }
    .css {
      height: 7.5px;
      border-radius: 20px;
      height: 20px;
    }
    .python {
      height: 7.5px;
      border-radius: 20px;
      height: 20px;
    }
    .html span {
      font-size: 1em;
    }
    .css span {
      font-size: 1em;
    }
  
    .aws span {
      font-size: 1em;
    }
  
    .python span {
      font-size: 1em;
    }
    .ms {
      padding: 20px 20px 40px 20px;
      margin: 10px 40px 70px 10%;
    }
    .skills h2 {
      font-size: 1.5em;
      margin-top: 2%;
    }
    .loader {
      display: none;
    }
    .sci2 {
      margin: 35px 40% 20px 0px;
      border-width: 6px;
      padding-left: 20px;
    }
    .sci2 li a {
      width: 10 px;
      font-size: 2em;
    }
  }
  