
<body>
  <nav class="navbar">
    <div class="logo"><img src="https://static.vecteezy.com/system/resources/previews/006/421/580/non_2x/dj-logo-with-hoodie-man-design-element-for-logo-poster-card-banner-emblem-t-shirt-illustration-vector.jpg"></div>
    <ul class="nav-list">
      <li><a href="#home1">HOME</a></li>
      <li><a href="#about">ABOUT</a></li>
      <li><a href="#skills">SKILLS</a></li>
      <li><a href="#portfolio">PORTFOLIO</a></li>
      <li><a href="#contact">CONTACT</a></li>
    </ul>
  </nav>
  <div class="Fp">
    <section id="home1">
      <div class="home">
        <h2 style="color: rgb(27, 183, 204); "> HI I'm</h2>
        <h1 class="name"><span style="color:orangered;">V</span>enaktesh</h1>
        <h3 style="color: aqua; font-size:28px;"> I am a Frontend web developer,<br><i class="fab fa-aws" style="font-size: larger; color: orange;"></i> partner.</h3>

        <ul class="sci">
          <li>
            <a href="https://www.facebook.com/deepak.sp.355" class="fac"><i class="fab fa-facebook"></i></a>
          </li>
          <li>
            <a href="https://t.me/+919790870300" class="tw"><i class="fab fa-telegram"></i></a>
          </li>
          <li>
            <a href="https://codepen.io/Dj-Sp/pen/yLQQvax" class="codpen"><i class="fab fa-codepen"></i></a>
          </li>
          <li>
            <a href="#" class="lin"><i class="fab fa-linkedin-in"></i></a>
          </li>
          <li>
            <a href="https://instagram.com/s_p_d_j?igshid=MzNlNGNkZWQ4Mg==" class="ins"><i class="fab fa-instagram"></i></a>
          </li>
        </ul>
      </div> 
  </section>
  <section id="about">
    <div class="about">
      <h1 class="abouth">About Me</h1>
      <div class="imgpara">
        <div class="adminpic">
          <img src="https://wallpapers.com/images/hd/black-smoke-hacker-mask-84y8z8wtzx83rrju.jpg" alt="admin">
        </div>
        <div class="para">
          <p class="aboutp"><span style="font-weight: bold; font-size: larger;">HeLLo</span><br>
            <br><span style="color: #0ab187; font-weight: bold; font-size: x-large;">I'm Venkatesh A</span>
            <br><br>Styding MBA Master Of Busines Administration
            <br> In"Sree Krishnadevaraya University" Anantpur.<br> And a beginner in Angular forntend development and learning
            <i class="fab fa-aws" style="font-size: larger; color: orange;"></i>""
          </p>

        </div>
      </div>

    </div>
  </section>
  <section id="skills">
    <div class="skiii">
      <div>
        <div class="myskill">
          <h1>MY SKILLS</h1>
        </div>
        <div class="ms">
          <div class="skills">
            <h2>Html</h2>
            <div class="bar">
              <div class="html"><span>90%</span></div>
            </div>
            <h2>Css</h2>
            <div class="bar">
              <div class="css"><span>70%</span></div>
            </div>
            <h2>JavaScript</h2>
            <div class="bar">
              <div class="JavaScript"><span>50%</span></div>
            </div>
            <h2>TypeScript</h2>
            <div class="bar">
              <div class="TypeScript"><span>50%</span></div>
            </div>
            <h2>Angular</h2>
            <div class="bar">
              <div class="Angular"><span>60%</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="portfolio" class="portfolio">
    <h1 class="pro2"> My Projects</h1>
    <div class="pro"><a href="#portfolio" class="projects1">
        <div class="loader"></div>
      </a><a href="https://codepen.io/Dj-Sp/pen/yLQQvax" class="cp">
        <div class="projects1"><i class="fa fa-codepen" style="margin: 80px;"></i></div>
      </a><a href="#projects">
        <div class="projects1">
          <div class="loader"></div>
        </div>
      </a></div>

  </section>
  </div>
  <section id="contact">
    <div class="cont">
      <h1 class="cm">CONTACT </h1>
      <br>
      <h2><span class="gm">G-mail</span><i class="fa fa-arrow-right fa-bounce" style="color: white; width: 40px;"></i><span class="id">venkateshanand1998gmail.com</span><i class="fas fa-envelope" style=" color: #0ed7e6;;"></i></h2>
      <br>
      <h1 class="sm" style="margin-top: 30px;"><span style="color: rgb(255, 0, 0); font-size: 3em; "> C</span>ontact Me ..<i class="fa fa-spinner fa-spin"></i>n</h1>
      <ul class="sci2">
        <li>
          <a href="https://www.facebook.com/deepak.sp.355" class="fac"><i class="fab fa-facebook"></i></a>
        </li>
        <li>
          <a href="https://t.me/+919790870300" class="tw"><i class="fab fa-telegram"></i></a>
        </li>
        <li>
          <a href="https://codepen.io/Dj-Sp/pen/yLQQvax" class="codpe"><i class="fab fa-codepen"></i></a>
        </li>
        <li>
          <a href="#" class="lin"><i class="fab fa-linkedin-in"></i></a>
        </li>
        <li>
          <a href="https://instagram.com/s_p_d_j?igshid=MzNlNGNkZWQ4Mg==" class="ins"><i class="fab fa-instagram"></i></a>
        </li>
      </ul>
    </div>
  </section>
</body>